html {
  scroll-behavior: smooth;
  overflow: auto;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.column {
  flex-direction: column;
}
.center {
  text-align: center;
}
header {
  box-shadow: 1px 1px 10px grey;
  width: 100%;
  background-color: #385f71;
}
.navbar {
  width: 100%;
  background-color: #385f71;
  padding: 16px;
  z-index: 1;
}
nav {
  width: 80%;
}
.landing {
  position: relative;
  background: url("jumbotron.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.landing::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #385f71, #385f7100);
  position: absolute;
}
.welcome {
  background: linear-gradient(135deg, #5b247a 0%, #1bcedf 100%);
  text-align: center;
  position: absolute;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome p {
  margin: 1em 0 2em 0;
}
.btn1 {
  text-decoration: none;
  transition: 1s ease;
  cursor: pointer;
  padding: 0.5em 0.5em;
  color: black;
  background-color: #f5f0f6;
  border-radius: 5px;
  border: 2px solid #2b4162;
}
.btn2 {
  text-decoration: none;
  display: block;
  transition: 1s ease;
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
  background-color: #385f71;
  border-radius: 5px;
  border: 2px solid #385f71;
}
.btn1:hover {
  color: white;
  background-color: #2b4162;
}
.btn2:hover {
  color: white;
  background-color: #2b4162;
}
.sticky {
  position: fixed;
  top: 0;
}
.title {
  font-family: "Arial Narrow Bold";
  display: inline;
  color: white;
  cursor: default;
  text-shadow: 2px 2px 5px grey;
}
.title:hover {
  color: black;
  transition: 0.5s ease-out;
}
ul {
  margin-left: auto;
}
li {
  list-style-type: none;
  display: inline;
}
.founder {
  display: none;
}
.nav-btn {
  text-decoration: none;
  color: white;
  padding: 1.5em;
  transition: 0.8s ease;
}
.nav-btn:hover {
  background-color: #2b4162;
  color: black;
  letter-spacing: 0.1rem;
}
.navbtn-toggle {
  display: none;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 5px;
  margin-top: 2em;
}
.main-content {
  margin: 0 auto;
  display: flex;
}
main {
  margin: 75px auto;
  display: flex;
  flex-direction: column;
}
#content {
  margin: 50px auto;
  width: 65%;
  flex-basis: 75%;
}
#content h1 {
  margin-bottom: 25px;
}
#content-item {
  margin: 0 auto;
  width: 100%;
  display: flex;
}
#content-item article {
  color: white;
  background: linear-gradient(135deg, #5b247a 0%, #1bcedf 100%);
  margin: 2em 1em;
  flex-basis: 33.33%;
  transition: 0.5s ease;
}
.default {
  transform: scale(1.05);
}
#content-item article:hover {
  transform: scale(1.1);
}
#content-item article img {
  margin: 25px 0;
}
#content-item article p {
  text-align: justify;
  font-size: 0.85em;
  cursor: default;
}
#content-item article h2 {
  cursor: default;
}
aside {
  background: linear-gradient(135deg, #fcdf8a 0%, #f38381 100%);
  flex-basis: 25%;
  margin: 30px;
}
aside p {
  text-align: center;
}

img {
  width: 75%;
  height: auto;
}
aside #profile {
  margin: 20px auto;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 1px 1px 5px 2px gray;
}
blockquote {
  margin: 0px auto 50px auto;
  font-size: small;
}
blockquote::before,
blockquote::after {
  content: '"';
}
.socmed {
  display: flex;
  position: relative;
  background: none;
}
.socmed li a img {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
}
.socmed li {
  margin: 30px auto;
}
.socmed li a img:hover {
  transform: scale(1.3);
}
.table-content {
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
  margin: 100px auto;
  width: 100%;
}

table {
  background-color: white;
  width: 50vw;
  margin: 50px auto;
  border-collapse: collapse;
  border-radius: 25px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 5, 0.2);
}
th {
  background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th,
td {
  padding: 10px;
}
#contact form {
  text-align: center;
  margin: 0 auto;
}
.form {
  outline: none;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #184e68;
  padding: 10px;
  margin: 10px;
}
.form:focus {
  background-color: rgba(0, 0, 5, 0.2);
}
.nama {
  width: 45%;
}
.form-contact {
  flex-basis: 50%;
}
.img-contact {
  flex-basis: 50%;
  width: 50%;
}
.btn-submit {
  margin: 15px auto;
  width: 95%;
}

footer {
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
  color: white;
}
footer p {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden !important;
  }
  .welcome {
    font-size: 16px;
  }
  .btn1 {
    color: white;
    background-color: #2b4162;
  }
  .founder {
    display: block;
  }
  #content {
    width: 100%;
  }
  #content-item {
    text-align: center;
    flex-direction: column;
  }
  .main-content {
    flex-direction: column;
    width: 90%;
  }
  main {
    flex-direction: column;
  }
  article {
    flex-basis: 100%;
  }
  aside {
    margin: 0;
    flex-basis: 100%;
  }
  .none {
    display: none;
  }
  ul {
    position: absolute;
    top: 2.5em;
    right: 0;
    background: #385f71;
  }
  li a {
    text-align: right;
    display: block;
  }
  .navbtn-toggle {
    color: white;
    cursor: pointer;
    display: inline;
    margin-left: auto;
  }
  table {
    width: 90%;
  }
  #contact {
    flex-direction: column;
  }
  .img-contact,
  .form-contact {
    flex-basis: 100%;
  }
  .img-contact {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .nama {
    width: 95%;
  }
}
